.manage-specialty-container {
    padding: 0 15px;

    .ms-title {
        text-align    : center;
        margin        : 10px 0;
        font-size     : 24px;
        font-weight   : 700;
        text-transform: uppercase;
    }

    .add-new-specialty {
        label {
            margin: 8px 0;
        }

        .mc-address {
            margin-bottom: 20px;
        }

        .mc-picture {
            display       : flex;
            flex-direction: column;
            margin-top    : 6px;
        }

        .btn-save-m-specialty {
            margin   : 15px 0;
            min-width: 75px;
        }
    }

    .all-specialty {}
}