.manage-handbook-container {
    .mhb-title {
        text-align    : center;
        margin        : 15px 0;
        font-size     : 20px;
        text-transform: uppercase;
        font-weight   : 600;
        color         : #0071ba;
    }

    .add-new-handbook {
        .ip-handbook {
            margin-bottom: 20px;
        }

        .ip-file-handbook {
            display       : flex;
            flex-direction: column;
            margin-top    : 6px;
        }

        .btn-save-handbook {
            margin   : 15px 0;
            min-width: 75px;
        }
    }

}