.detail-handbook-container {
    text-align      : center;
    background-color: #f5f5f5;

    .detail-handbook-body {
        max-width       : 800px;
        text-align      : left;
        display         : inline-block;
        box-shadow      : 0 1px 6px #20212447;
        background-color: white;

        .description-handbook {
            padding: 20px;

            h1,
            h2,
            h3 {
                font-size  : 20px;
                font-weight: 600;
            }

            img {
                width: 100%;
            }
        }
    }
}

.list-doctor {
    padding      : 1px 100px;
    background   : #f5f5f5;
    border-radius: 10px;


    .search-sp-doctor {
        padding-top: 10px;

        select {
            cursor        : pointer;
            height        : 40px;
            border        : 1px solid #cdc8c8;
            padding       : 8px;
            border-radius : 5px;
            font-size     : 15px;
            text-transform: none;
        }
    }

    .each-doctor {
        display         : flex;
        width           : 100%;
        min-height      : 300px;
        margin          : 15px 0;
        background-color: #fff;
        box-shadow      : 0 1px 6px #20212447;
        border-radius   : 8px;
        padding         : 10px;

        .dt-content-left {
            width       : 50%;
            border-right: 1px solid #ddd;
        }

        .dt-content-right {
            width  : 50%;
            padding: 10px;

            // .doctor-schedule {}

            .doctor-extra-infor {
                border-top: 1px solid #ddd;
                margin-top: 10px;

                .doctor-extra-infor-container {
                    padding-left: 0 !important;
                }
            }
        }
    }
}