@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Sharp");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
@import "../../../../src/styles/variables";








// h3 {
//     font-weight: 500;
//     font-size  : 0.87rem;
// }

// a {
//     color: $color-dark;
// }



// img{
//     display: block;
//     width: 100%;
//     object-fit: cover;
// }

// h1 {
//     font-weight: 800;
//     font-size  : 1.8rem;
// }

// h2 {
//     font-weight: 600;
//     font-size  : 1.4rem;
// }



// small {
//     font-size: 0.76rem;
// }

// p {
//     color: $color-dark-variant;
// }

// b {
//     color: $color-dark;
// }

* {
    margin         : 0;
    padding        : 0;
    outline        : 0;
    appearance     : 0;
    border         : 0;
    text-decoration: none;
    box-sizing     : border-box;
}


.text-muted {
    color: $color-info-dark;
}

.primary {
    color: $color-primary;
}

.danger {
    color: $color-danger;
}

.success {
    color: $color-success;
}

.warning {
    color: $color-warning;
}





.theme {
    &.dark {
        $color-background  : #181a1e;
        $color-white       : #202528;
        $color-dark        : #edeffd;
        $color-dark-variant: #a3bdcc;
        $color-light       : rgba(0, 0, 0, 0.4);
        $box-shadow        : 0 2rem 3rem $color-light;

        .manage-system-container {

            color           : $color-dark;
            background-color: $color-background;

            .manage-system-content {
                .content-left {
                    .sidebar {

                        background-color: $color-white;
                        box-shadow      : $box-shadow;

                        a {
                            color: $color-info-dark;

                            .active {

                                color           : $color-primary;
                                background-color: $color-light;
                            }
                        }
                    }
                }

                .content-mid {}

            }
        }
    }

    .manage-system-container {
        width           : 100vw;
        height          : 100vh;
        font-family     : 'Poppins', sans-serif;
        font-size       : 0.88rem;
        user-select     : none;
        overflow-x      : hidden;
        color           : $color-dark;
        background-color: $color-background;

        padding: 0 30px;

        .manage-system-content {
            // display: flex;
            // gap    : 1.8rem;
            display              : grid;
            margin               : 0 auto;
            gap                  : 1.8rem;
            grid-template-columns: 12rem auto 23rem;

            .content-left {
                .toggle {
                    display        : flex;
                    align-items    : center;
                    justify-content: space-between;
                    margin-top     : 1.4rem;

                    .close {
                        padding-right: 1rem;
                        display      : none;
                    }
                }

                .sidebar {
                    display         : flex;
                    flex-direction  : column;
                    background-color: $color-white;
                    box-shadow      : $box-shadow;
                    border-radius   : 15px;
                    height          : 88vh;
                    position        : relative;
                    top             : 1.5rem;
                    transition      : all 0.3s ease;



                    .sidebar:hover {
                        box-shadow: none;
                    }

                    a {
                        display    : flex;
                        align-items: center;
                        color      : $color-info-dark;
                        height     : 3.7rem;
                        gap        : 1rem;
                        position   : relative;
                        margin-left: 2rem;
                        transition : all 0.3s ease;

                        span {
                            font-size : 1.6rem;
                            transition: all 0.3s ease;
                        }

                        a:active {
                            width           : 100%;
                            color           : $color-primary;
                            background-color: $color-light;
                            margin-left     : 0;
                        }
                    }

                    .log-out {
                        position: absolute;
                        bottom  : 2rem;
                        width   : 100%;
                    }
                }
            }

            .content-mid {
                margin-top: 1.4rem;


                .analyse {
                    display              : grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap                  : 1.6rem;
                    display              : flex;
                    align-items          : center;
                    justify-content      : space-between;

                    .sales {

                        .status {


                            .info {}

                            .progresss {
                                .percentage {}
                            }
                        }
                    }
                }
            }

        }
    }
}