.login-background {
    height    : 100vh;
    background: #eee;

    .login-container {
        margin          : auto;
        width           : 380px;
        height          : 460px;
        background-color: white;
        border-radius   : 10px;
        position        : absolute;
        top             : 0;
        bottom          : 0;
        right           : 0;
        left            : 0;
        background-color: #fff;
        box-shadow      : 0 1px 6px #20212447;

        .login-content {
            padding: 25px 20px;

            .text-login {
                font-size     : 24px;
                padding-bottom: 10px;
            }

            .form-control {
                width : 95%;
                margin: 8px;
            }

            .form-password {
                position: relative;

                .eye-show-hide {
                    cursor  : pointer;
                    position: absolute;
                    right   : 38px;
                    top     : 16px;
                }

                .form-error {
                    color    : rgb(255, 50, 50);
                    font-size: 12px;
                }
            }



            .btn-login-content {
                width        : 95%;
                margin-left  : 8px;
                margin-top   : 5px;
                border-radius: 8px;
                background   : #3b71ca;
            }

            .text-social-network {
                margin-top: 15px;
            }

            .forgot-password {
                margin-left: 10px;
            }

            .social-network {
                display        : flex;
                justify-content: center;
                padding-top    : 15px;

                .google {
                    cursor         : pointer;
                    background     : white;
                    font-size      : 15px;
                    border-radius  : 50%;
                    height         : 40px;
                    width          : 40px;
                    display        : flex;
                    justify-content: center;
                    align-items    : center;
                    color          : #3b71ca;
                    margin-right   : 15px;
                }

                .facebook {
                    cursor         : pointer;
                    background     : white;
                    font-size      : 15px;
                    border-radius  : 50%;
                    height         : 40px;
                    width          : 40px;
                    display        : flex;
                    justify-content: center;
                    align-items    : center;
                    color          : #3b71ca;
                    margin-right   : 15px;
                }

                .twitter {
                    cursor         : pointer;
                    background     : white;
                    font-size      : 15px;
                    border-radius  : 50%;
                    height         : 40px;
                    width          : 40px;
                    display        : flex;
                    justify-content: center;
                    align-items    : center;
                    color          : #3b71ca;
                }
            }

            .footer-signup {
                margin-top: 30px;

                .signup-section {
                    .text-info {
                        color: #3b71ca !important;
                    }
                }
            }
        }
    }
}